<nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/blog" class="navbar-brand">All</a>
        </div>
        <div class="collapse navbar-collapse" id="menuCollapse">
          <ul class="nav navbar-nav" id="menuNavigation">
            <li>
              <a href="/blog/create" class="navlink" data-type="index">Create New</a>
            </li>
            <li class="">
              <a href="/blog/create/:id" class="navlink" data-type="location">Edit</a>
            </li>
            <li class="">
              <a href="/blog/search" class="navlink" data-type="location">Search</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>